.card {
  min-width: 35rem;
  max-height: 500px;
  display: flex;
  gap: 1.5rem;
  font-size: 1.6rem;
}

.card--img {
  width: 40%;
  border-radius: 1rem;
}

.card--info {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.card--location {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.card--location--country {
  font-weight: 600;
}

.card--location-icon {
  height: 2.2rem;
}

.card--location--country,
.location-map {
  position: relative;
  top: 3px;
}

.location-map {
  text-decoration: none;
}

.card--title {
  font-size: 1.85rem;
  font-weight: 700;
  padding: 2rem 0;
}

.card--travel-date {
  font-weight: 600;
  margin-bottom: 1rem;
}

.card--travel-caption {
  color: #777;
  text-align: justify;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  section {
    padding: 0;
  }
  .card {
    flex-direction: column;
    padding: 3rem;
  }
  .card--img {
    width: 100%;
  }
  .card--title {
    padding: 0.5rem;
  }
}
